.ajaxtable-wrapper {
    display: block;
    position: relative;
}
table.ajaxtable {
    border: 1px solid silver;
}
table.ajaxtable thead tr {
    border-bottom: 3px solid silver;
}
table.ajaxtable th:first-child, .ajaxtable td:first-child {
    border-right: 1px solid silver;
}
table.ajaxtable th, table th a, table.ajaxtable th a:link, table.ajaxtable th a:visited {
    color: #49545a;
    text-decoration: none;
}
table.ajaxtable th a:hover {
    color: orangered;
}
table.ajaxtable th[data-sortable] a {
    background: url("../img/orderable.png") no-repeat center left;
    background-position: 0 4px;
    background-size: 8px;
    padding-left: 13px;
}
table.ajaxtable th[data-sortable="asc"] a {
    background: url("../img/orderable.png") no-repeat center left;
    background-size: 8px;
    padding-left: 13px;
}
table th[data-sortable="desc"] a {
    background: url("../img/orderable.png") no-repeat center left;
    background-position: 0 -65px;
    background-size: 8px;
    padding-left: 13px;
}
table.ajaxtable td.align-center, table.ajaxtable th.align-center {
    text-align: center;
}
table.ajaxtable td.align-left, table.ajaxtable th.align-left {
    text-align: left;
}
table.ajaxtable td.align-right, table.ajaxtable th.align-right {
    text-align: right;
}
.pagination-wrapper {
    font-size: 0.9em;
}
.pagination-wrapper .pagination {
    margin: 0px;
}
.ajaxtable-settings {
    position: absolute;
    right: 8px;
    margin-top: 8px;
}
.ajaxtable-settings a.dropdown-toggle {
    color: #808080;
}
.ajaxtable-settings ul.dropdown-menu li {
    margin-left: 35px;
}
.spinner {
    position: relative;
}
.spinner:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    opacity: 0.6;
    background: #ddd url("../img/spinner.gif") no-repeat center;
}
